<!DOCHTML>

	<head>
		<title>home page </title>	
		<meta charset="utf-8">
		<meta name="description" content="Info about the web page">
		<meta name="author" content="Owen Wang">
		
		<link rel="stylesheet" type="text/css" href="../static/css/home page effects.css">
		<script src="../static/javascript/javastyles.js"></script>
	</head>
	

	<body style="background-color: lightyellow">
		<h2 id="name" onClick="newStyle()">
		Hi, my name is Owen Wang.
		</h2>
		
		<div class="main-info">
			<img src="../static/image/owen in suit.jpg" width="300" class="profile-photo">
		
		<div style="padding-left: 20px" id='info'>
			<p>Education: University of Waterloo</p>
			<p>Program: Honours Math 2A</p>
			<p>My hobbies: </p>
			
			<ul id="hobbies">
			<li>Coding </li>
			<li>Light musics </li>
			<li>Working out with friends </li>
			</ul>
			
			<p id='more hobbies' onClick="moreHobbies()">
				Click here to show more hobbies...
			</p>
		</div>
		</div>
		
		<div style="text-align: center; font-size: 30px">
		<h3>Nice to meet you!</h3>
		<form method="post">
			<input class="input" type="submit" value="download resume">
		</form>
		</div>
		
		<div  class="links-block">
			<div id="Contacts" class="social-links">
				<h3>Social Media</h3>
				<ul id="social media">
				<li><a href="https://www.facebook.com/owen.wang.12764"> Facebook </a> </li>
				<li><a href="https://www.linkedin.com/in/jingxin-wang-9144161a7/"> LinkedIn </a> </li>
				<li><a href="https://www.instagram.com/jingxinwang25/">Instagram </a> </li>
				</ul>
				
				<p id="more links" onClick="moreLinks()">
					Click to show more contacts...
				</p>
			</div>
			
			<div>
				<h3 class="links-block">Email</h3>
				<ul class= "email">
					<li>2289569593@qq.com</li>
					<li>j2445wan@uwaterloo.ca</li>
				</ul>
			</div>
			
		</div>
		
		
	</body>
	
</html>
